<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="../../vue/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <input type="text" v-model="in1">
        <select name="" id="" v-model="set">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">x</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="in2">
        <button @click="getin">按钮</button>
        <span>{{sum}}</span>
        <span v-html="html"></span>
        <!-- 标签 -->
        <span v-text="text"></span>
        <!-- 文本 -->
        <span v-pre>{{dfsfd}}</span>
        <!-- 不会替换 -->
        <span v-once></span>
        <!-- 不会被修该 -->
        <!-- <span v-on:click="handle">
           事件 
        </span> -->
        <input type="text" v-model="sq">
        <span>{{sq}}</span>
        <p></p>
        <!-- 绑定一个属性 -->
        <img v-bind:src="imageSrc">
        <!-- 缩写 -->
        <img :src="imageSrc">
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            in1: "",
            in2: "",
            set: "",
            sum: "",
            html: "<p></p>",
            text: "文本",
            dfsfd: "张三",
            sq: "你好",
            imageSrc: "https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2151136234,3513236673&fm=26&gp=0.jpg"

        },
        methods: {
            getin() {
                this.sum = eval(this.in1 + this.set + this.in2)
            }
        }
    })
</script>

</html>